# pepellou's git config file
#   path: ~/.gitconfig
#
#   be aware to include in your gitconfig file only those
#   configuration you understand, since there might be
#   options you cannot/shouldn't apply. For instance,
#   the alias.test is intended for PHP projects, the 
#   core.bigFileThreshold is intended for short source
#   code files, etc.

[alias]
	test = !sh -c \"phpunit --colors test/\"
	tests = "!sh -c \"for file in test/*Test.php; do echo \\$file:; phpunit \\$file > results34fu35g.test; grep -v \\\"^$\\\" results34fu35g.test | grep -v Bergmann; rm results34fu35g.test; done\""
	last = cat-file commit HEAD
	graph = !sh -c \"git l --graph\"
	funcdiff = !sh -c \"git show \\\"\\$1:\\$3\\\" | sed -n \\\"/^[^ \\t].*\\$4(/,/^}/p\\\" > .tmp1 &&\n        git show \\\"\\$2:\\$3\\\" | sed -n \\\"/^[^ \\t].*\\$4(/,/^}/p\\\" > .tmp2 &&\n        git diff --no-index .tmp1 .tmp2\"
	g = !sh -c \"git graph\"
	br = branch
	ci = commit
	co = checkout
	st = status
	workon = !sh -c 'vi -o `git show --pretty=\"format:\" --name-only $1 | tail -n +2 | xargs`' -
[branch "master"]
	rebase = true
[branch]
	autosetuprebase = always
[color]
	ui = auto
	grep = true
[color "diff"]
	whitespace = blue reverse
	meta = blue black bold
[color "grep"]
	match = red bold
[commit]
	status = true
[core]
	editor = vi
	excludesfile = ~/.gitignore
	bigFileThreshold = 100k
[format]
	pretty = format:%C(blue black bold)%h%Creset %C(green bold)%s%Creset%C(yellow)%d%Creset [%C(cyan)%an%Creset] - %C(black)%ar
[github]
	user = pepellou
	#token = your_token_here
[http]
	lowSpeedTime = 5
[push]
	default = current
[status]
	showUntrackedFiles = all
[user]
	name = Pepe Doval
	email = pepellou@gmail.com
[web]
	browser = google-chrome
